@linkColor: #009DDC;
@textColor:#000;
@bodyBackgroundColor:#fff;

html, body {
	margin: 0;
	padding: 0;
	text-align: center;
}

body {
	color: @textColor;
	background: @bodyBackgroundColor;
	font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;

	text-align: left;
	width: 95%;
	min-width: 500px;
	margin: 0 auto;
}

a:link,
a:visited {
	color: @linkColor;
	cursor:pointer;
	outline: 0;
}

a:visited {
	text-decoration: none;
	border-bottom: 1px dotted;
}
img{border:none;}

.clear{clear:both;height:0;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix {display: inline-block;}
/* Hides from IE-mac \*/
* html .clearfix { height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */

/* a fix for inline blocks in IE (need to set a height & width for object)*/ 
.ieInlineBlockFix{
	zoom:1;
	*display:inline;
}

.full-circle(@radius:75px) {
	background-color: #000;
	border:none;
	height: @radius * 2;
	-moz-border-radius:@radius;
	-webkit-border-radius: @radius;
	border-radius:@radius;
	width: @radius * 2;
}

#info {
	position: relative;
	border-bottom: 1px solid transparent;
}

#info-geo, 
#info-extras {
	display: block;
	padding-top: .75em;
}

#info-geo p input[type=text] {
	width: 30ex;
}
#info-geo p input.locate {
	width: 12ex;
}

#info-geo .or {
	white-space: nowrap;
	padding-left: 1em;
}

#info-geo p,
#travel-optionss {
	margin: 0 2em 0 0;
	padding: 0;
	float: left;
	min-height: 1.5em;
}

#info-dest {
	margin-right: 0 !important;
}

#travel-optionss {
	min-height: 4em;
}

#travel-optionss {
}

#info #info-geo p label {
	padding-left: .5em;
}

#info h5 {
	margin: 0 0 .5em;
	font-size: 1em;
	text-align: center;
}

#travel-optionss .mode,
#travel-optionss .time {
	display: inline-block;
	margin-right: .5em;
	margin-bottom: .5em;
}

#info #travel-optionss a {
	display: inline-block;
	width: 40px;
	height: 42px;
	background-color: #000;
	padding: 10px 12px;
	.ieInlineBlockFix;
	text-align: center;
}

#info #travel-optionss img {
	vertical-align: middle;
}

#info #travel-optionss .time a {
	position: relative;
	color: #fff;
	border-bottom: 0;
	text-decoration: none;
	padding-top: 8px;
	padding-bottom: 12px;
}

#info #travel-optionss .time img {
	height: 24px;
	padding-bottom: 18px;
}

#info #travel-optionss .time a span {
	display: block;
	font-size: 70%;
	line-height: 1em;
	position: absolute;
	bottom: 4px;
	left: 8%;
	width: 84%;
}

#travel-optionss label {
	padding-right: .5em;
}

#info #travel-optionss a:hover {
	background-color: #555;
}

#info #travel-optionss a.selected {
	background-color: @linkColor;
}

.dest-circle, .marker {
	display: inline-block;
	width: 1.4em;
	height: 1.4em;
	color: #fff !important;
	line-height: 1.6em;
	font-weight: 600;
	text-align: center;
	.ieInlineBlockFix;
	.full-circle(.8em);/*radius*/
}

#bottom-bar .title .marker {
	.full-circle(.62em);/*radius*/
	font-size: inherit;
	line-height: inherit;
	position: relative;
}

a.marker {
	text-decoration: none;
}

#info #info-meta {
	position: absolute;
	right: 0;
	top: 100%;
	z-index: 100;
	margin-top:1px;
}

#stdout {
	position: relative;
	text-align: right;
	right: 0;
	bottom: 0;
	color: #000;
	height: 2em;
	width: 2em;
	margin: 0;
	background: rgba(255,255,255,.4);
	background-image: url(images/status-good.png);
	background-repeat: no-repeat;
	background-position: center center;
	
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

	#stdout.good { background-image: url(images/status-good.png); }
	#stdout.loading { background-image: url(images/status-loading.gif); }
	#stdout.error { background-image: url(images/status-bad.png); }

input[disabled] {
	background: #888 !important;
	color: #fff;
}

#title {
	position: relative;
}

#permalink {
	position: absolute;
	bottom: 0;
	right: 0;
	margin: 0 .25em 0 0;
	text-align: right;
	text-transform: uppercase;
	font-size: 1.5em;
	font-weight: bold;
	line-height: 1.2em;
}

/* hiding at first, shown once page is rendered */
#travel-options{
	display: none;
}

/* ticks for time of day slider */
#tod-slider #tickbox{
	position:absolute;
	width:100%;
	top:0;
	left:0;
}
#tickbox .ticks{
	position:absolute;
	margin:-2px 0 0 -6px;
	
	.full-circle(5px);
}

#taztip{
	position: absolute;
	z-index: 9999;
	background: #000;
	color: #fff;
	width: 200px;
	display: none;
	text-align: center;
	margin-left: 0;
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 0 0 2px #333;
	-webkit-box-shadow: 0 0 2px #333;
	box-shadow: 0 0 2px #333;
}

#taztip p {
	margin: 0;
	padding: 0;
	padding: 10px;
}

.nub {
border-bottom: 0;
height: 0;
width: 0;
position: absolute;
border-left: 20px solid transparent;
border-right: 1px solid transparent;
border-top: 10px solid black;
left: 30%;
bottom: -10px;
}

/* not being used
#data-progress-bar{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index: 2000;
	background:rgba(0,0,0,.6);
	padding-bottom:14px;
}
#progressbar{
	position:relative;
	width:400px;
	height:24px;
	top:45%;
	left:40%;
}

.ui-progressbar-value { background-image: url(images/loading_stripe-light.png); }
*/

h1, h2 {
	font-size: 300%;
	margin: 0;
	line-height: 1.2em;
}

h2 {
	font-size: 200%;
}

ol {
	margin: 0;
	padding: 0 0 0 1.5em;
}

ol li {
	margin: 0 0 1em 0;
	padding: 0;
}

ol li p {
	margin: 0;
}

	ol.steps,
	ol.steps li {
		padding: 0;
		margin: 0;
	}

	ol.steps li {
		margin-bottom: 1em;
	}

.map {
	width: 100%;
	height: 280px;
	position: relative;
}

.controls {
	position: absolute;
	z-index: 1000;
	top: 10px;
	left: 10px;
}

	.controls a {
		display: inline-block;
		text-decoration: none;
		font-weight: bold;
		background: #000;
		color: #fff;
		padding: 6px;
		line-height: 0;
	}

	#select-center {
		position: relative;
		background: none;
		color: @linkColor;
		line-height: inherit;
	}

	#select-center img {
		margin-right: 4px;
	}

	.controls a img {
		border: 0 !important;
		vertical-align: middle;
	}

	.controls label {
		color: #666;
		display: none;
	}

ol.steps li .step {
	background: #000;
	color: #fff;
	display: inline-block;
	width: 1.25em;
	padding: .1em;
	text-align: center;
}

#select-location {
	position: relative;
}

#geocoder {
	position: absolute;
	bottom: 10px;
	right: 10px;
	z-index: 1000;
	padding: 0;
	margin: 0;
}

	#geocoder input[type=submit] {
		background: #000;
	}

	#geocoder p {
		margin: 0;
	}

	#geocoder label,
	#geocoder .status {
		display: none;
	}

	#geocoder .error {
		display: none;
		background: #ffc;
		padding: 4px;
		margin: 4px 2px;
	}

input, select {
	font-size: inherit;
	font-weight: inherit;
	font-family: inherit;
	line-height: inherit;
}

input[type=search],
input[type=submit] {
	cursor: pointer;
	display: inline-block;
	text-align: center;
	background: #009DDC;
	color: #fff;
	padding: .25em .5em;
	border: none;
	outline-width: 0;
	font-weight: bold;
}

ol.steps li.complete {
	color: #999;
}
ol.steps li.complete .step {
	background-color: #999;
}

.complete #location-map {
	display: none;
}
